

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: black;
    overflow: hidden;
}
.container {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}
.sun{
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: yellowgreen;
    border-radius: 52%;
    box-shadow: 0 0 4em grey;
}
earth,.moon {
    position: absolute;
    border-style: solid;
    border-width:  0.1em 0.1em 0.0em;
    border-radius: 52%;
}
